/* Variables */
:root {
    --font-primary: Arial, sans-serif;
    --font-bold: bold;
    --font-light: lighter;
    --main-gap: 12px;
    --font-size-h1: 20px;
    --font-size-h2: 14px;
    --font-size-h3: 12px;
    --font-size-h4: 18px;
}
/* Main Layout */
.main_container {
    display: flex;
    width: 120%;
    transform: scale(0.8);
    transform-origin: top left;
}

/* Header */
.header {
    width: 100%;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

/* General Layout */
.right_column {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: var(--main-gap);
    padding-top: 18px;
    margin-left: var(--main-gap);
}
.left_column {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: var(--main-gap);
    margin-left: var(--main-gap);
    border-right: 1px solid #696969FF;
    padding-right : 10px;
}
/* Container for the two cluster graphs */
.k_cluster_row,
.weather_row{
    display: flex;
    gap: var(--main-gap); /* Optional, for spacing between the graphs */
}

/* Optional: Styling for the individual graph containers */
.k_cluster_scatter,
.k_cluster_matrix,
.map_graph,
.trend_graph{
    width: 48%;  /* Adjust the width as necessary */
}

/* Buttons Style */
.weather_buttons {
    display: flex;
    gap: 15px;
    justify-content: left;
    margin-left: var(--main-gap);
    margin-top: 24px;
    padding-bottom: 10px;
}

/* Training Data Graphs */
.training_geomap,
.training_data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: left;
    margin-left: var(--main-gap);
    margin-top: 0;
}

/* Hover Cursor */
.hover_cursor {
    cursor: url("/assets/cursor-icon.svg"), auto;
}

/* Font Styles */
h1, h2, h3, h4, p {
    font-family: var(--font-primary);
    text-align: left;
    margin-left: var(--main-gap);
}
h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-bold);
    color: blue;
    margin-left: 20px;
    margin-top: 12px;
}
h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-bold);
}
h3 {
    font-size: var(--font-size-h3);
    font-weight: normal;
}
h4 {
    font-size: var(--font-size-h4);
    font-weight: normal;
    color: dimgrey;
}
p {
    font-size: var(--font-size-h3);
    font-weight: normal;
    margin: 6px 0 1px;
}