/* Variables */
:root {
    --font-primary: Arial, sans-serif;
    --font-bold: bold;
    --font-light: lighter;
    --main-gap: 12px;
    --font-size-h1: 18px;
    --font-size-h2: 14px;
    --font-size-h3: 12px;
    --font-size-h4: 18px;
    --font-size-h5: 12px;
}
/*-----------------------------------*/
/* Main Layout */
.main_container {
    display: flex;
    transform: scale(1);
    transform-origin: top center;
    width: 100%;
}
html {
    /*overflow-y: hidden;*/
    overflow-x: hidden;
}
/*-----------------------------------*/
/* Header */
.header {
    position: relative; /* Required for snowflakes */
    overflow: hidden; /* Prevent snowflakes from overflowing */
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 6px;
    padding-bottom: 2px;
    display: flex;

    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: #0c1d65;
    box-shadow: 0 4px 4px rgba(0, 0, 0.2, 0.3);
    border-radius: 5px;
}
.header h1 {
    margin-right: 25px; /* Space between H1 and H3 */
    padding-top: 2px;
}
.sub_header {
    margin: 2px 0px 0px 0px;   /* Top, Right, Bottom, Left */
    border: 2px solid #696969FF;
    border-radius: 5px;
    padding: 2px 12px 2px 12px;
    background-color: #dde3e3;
    box-shadow: 0 4px 4px rgba(0, 0, 0.2, 0.3);
}
/*-----------------------------------*/
/* Snowflakes in Header */
.snowflake {
    position: absolute;
    top: -20px;
    animation: fall linear infinite;
}
/* Snowflake Animation */
@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh); /* fall to the bottom of the screen */
        opacity: 0;
    }
}
/*-----------------------------------*/
/* General Layout */
.right_column {
    width: 40%;
    flex-direction: column;
    margin-right: 2px;
}
.left_column {
    display: flex;
    width: 60%;
    flex-direction: column;
    padding-right : 3px;
    margin-left: 2px;
}
/*-----------------------------------*/
/* Container for the two cluster graphs */
.k_cluster_row,
.weather_row,
.right_column {
    display: flex;
    gap: var(--main-gap); /* Optional, for spacing between the graphs */
    border: 2px solid #696969FF;
    border-radius: 5px;
    padding: 6px 6px 3px 12px;
    margin-top: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0.2, 0.3);
}
/* Optional: Styling for the individual graph containers */
.k_cluster_scatter,
.k_cluster_matrix,
.map_graph,
.trend_graph{
    width: 48%;  /* Adjust the width as necessary */
}
/*-----------------------------------*/
/* Buttons Style */
.weather_buttons {
    display: flex;
    gap: 8px;
    align-content: center;
    justify-content: left;
    padding-bottom: 8px;
}
.weather_buttons button {
    font-size: 14px;
    height: 30px;
    width: 168px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #9ea5a8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.weather_buttons button:hover {
    background-color: #b1def4;
    font-weight: bold;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.weather_buttons button.active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3); /* Click effect */
    background-color: #c8e5f8;
    font-weight: bold;
}
/*-----------------------------------*/
/* Radiobuttons Style */
.region_radio {
    display: flex;
    gap: 45px;
    margin-left: 12px;
    margin-bottom: 5px;
    font-size: 12px;
}
.canton_radio {
    display: flex;
    gap: 18px;
    margin-left: 12px;
    margin-bottom: 8px;
    font-size: 12px;
}
.radio_group input {
    margin-right: 5px;
}
/*-----------------------------------*/
/* Station Dropdown Style */
.dropdown_group {
    display: flex;
    align-items: center;
    gap: 10px
}
.station_dropdown,
.date_range {
    flex: 1;
}
.station_dropdown {
    width: 100%;
}
.station_dropdown .Select-control {
    width: 100%;
    font-size: 10px;
}
.station_dropdown {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.month_dropdown .Select-control,
.feature_dropdown .Select-control {
    font-size: 14px;

}
.station_dropdown .Select-menu,
.month_dropdown .Select-menu,
.feature_dropdown .Select-menu {
    font-size: 10px;
}
.station_dropdown .Select-placeholder,
.month_dropdown .Select-placeholder,
.feature_dropdown .Select-placeholder {
    font-size: 14px;
}
.month_dropdown {
    margin-bottom: 10px;
    width: 150px;
}


/*-----------------------------------*/
/* DatePicker Style */
.date_dropdown {
    display: flex;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;
}
.date_dropdown input,
.date_range input{
    padding: 5px 5px;
    font-size: 12px;
    text-align: center;
    font-family: Arial, sans-serif;
}
/*-----------------------------------*/
/* Feature Dropdown Style */
.feature_dropdown {
    display: flex;
    flex-shrink: 0;
    gap: 110px;
}
.feature_dropdown .Select-control {
    width: 150px;

}
.feature_dropdown .h2 {
/* not divide to next line */
    white-space: nowrap;
}

/*-----------------------------------*/
/* Slider Design */
.rc-slider-mark-text {
    white-space: nowrap;
    font-size: 8px;
    font-family: Arial, sans-serif;
}
.rc-slider-tooltip {
    font-size: 8px;
}

/*-----------------------------------*/
/* Training Data Graphs */
.training_geomap,
.training_data {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: left;
    margin-left: var(--main-gap);
    margin-top: 0;
}
/*-----------------------------------*/
/* Checklist Style */
.risk_group_checklist {
    display: flex;
    font-family: var(--font-primary);
    font-size: 11px;
    margin-left: 14px;
}
.risk_group_checklist input {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
/* Label-Abstand vergrößern */
.risk_group_checklist label {
    margin-right: 16px;
}
/*-----------------------------------*/
/* Font Styles */
h1, h2, h3, h4, p {
    font-family: var(--font-primary);
    text-align: left;
    margin-left: var(--main-gap);
}
h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-bold);
    color: #b1def4;
    margin-left: 20px;
}
h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-bold);
    padding-top: 8px;
}
h3 {
    font-size: var(--font-size-h3);
    font-weight: normal;
    color: #989ca8;
    padding-top: 6px;
}
h4 {
    font-size: var(--font-size-h4);
    font-weight: normal;
    color: dimgrey;
}
h5 {
    font-size: var(--font-size-h5);
    font-weight: normal;
    color: black;
}
p {
    font-size: var(--font-size-h3);
    font-weight: normal;
    margin: 6px 0 1px;
}
